*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(./font/Poppins-Regular.ttf);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    background: linear-gradient(to bottom, #ffa22d, #fff38a);
}

.orange {
    background-color: #ffa22d;
    transition: .4s;
}

#game {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 1px 5px 12px 4px rgba(0, 0, 0, 0.116);
}

#tabuleiro{
    width: 500px;
    height: 500px;
}

.linha{
    width: 100%;
    height: 33.33%;
    display: flex;   
}

.espaco{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.espaco img {
    width: 50%;
    height: auto;
}

button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background-color: #050505;
    outline: none;
    border: none;
    transition: .3s;
    color: white;
    cursor: pointer;
    font-family: poppins;
}

button:hover {
    background-color: #1a1a1a;
}

#status {
    width: 500px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}